<div>
<h1>Current Most Popular Articles</h1>

<ul id="articles">
	<% @popular.each do |article| %>
		<li>
			<%= link_to article.title, article_path(article), class: 'article_title' %>
		</li>
	<% end %>
</ul>
</div>

<% if logged_in? %>
	<%= link_to "Create a New Article", new_article_path, class: 'new_article' %>
<% end %>